/*main font*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
/* header font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Teko', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans JP', sans-serif;
}

/* background color for whole website */
body{
    background-color: rgb(16,16,16);
}

/* NAV BAR */
#top-nav ul main h1 a {
    text-align: center;
    margin-left: 200px;
}

#top-nav {
    background-color:rgb(16, 16, 16);
}

#top-nav ul {
    display: flex;
    justify-content: right;
}
#top-nav ul li {
    list-style: none;
}

#top-nav ul li a {
    display: block;
    padding: 1em;
    color: red;
    transition: all 0.5s;
}

#top-nav ul li a:hover {
    background-color: rgb(66, 66, 66);
}

/* MAIN */

main {
    max-width: 1080px;
    margin: 0 auto;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgb(16, 16, 16);
}
#footer-nav ul li a {
    display: block;
    padding: 1em;
    color: red;
    transition: all 0.5s;
}

#socials ul li a{
    display: block;
    padding: 1em;
    color: red;
    transition: all 0.5s;
    font-size: 20px;
}

footer #socials a:hover {
    color:rgb(255, 255, 255)
}

footer #socials {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 20px;
    right: 0;
}


/* Headers */

h1,h2,h3,h4,h5,h6{
    color: red;
}

h1{
    font-size: 2em;
    font-weight: 600;
}

/* paragraphs */
p{
    
    line-height: 1.6em;
    color:white
    
    
}

/* Pages */
#about-me, #interests, #persons {
    text-align: center;
}

/* Images */
#interests img {  
    max-width: 100%;  
    height: auto;  
    }  

#persons img {  
    max-width: 100%;  
    height: auto;  
    }  
