* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* background color for whole website */
body{
    background-color: rgb(16,16,16);
}

/* NAV BAR */
#top-nav ul main h1 a {
    text-align: center;
    margin-left: 300px;
}

#top-nav {
    background-color:rgb(16, 16, 16);
}

#top-nav ul {
    display: flex;
    justify-content: right;
}
#top-nav ul li {
    list-style: none;
}

#top-nav ul li a {
    display: block;
    padding: 1em;
    color: red;
    transition: all 0.5s;
}

#top-nav ul li a:hover {
    background-color: rgb(66, 66, 66);
}

/* MAIN */

main {
    max-width: 1080px;
    margin: 0 auto;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background-color: rgb(16,16,16);
}
#footer-nav ul li a {
    display: block;
    padding: 1em;
    color: red;
    transition: all 0.5s;
}

#socials ul li a{
    display: block;
    padding: 1em;
    color: red;
    transition: all 0.5s;
    font-size: 20px;
    
}

footer a:hover {
    color:rgb(66, 66, 66)
}

footer #social ul {
    display: flex;
    justify-content: center;
}

footer #social ul li {
    list-style: none;
}

footer #social ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* H1 */

h1 {
    color: red;
    background-color: rgb(16,16,16);
}

